@import '../node_modules/primereact/resources/themes/saga-blue/theme.css';
@import '../node_modules/primereact/resources/primereact.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
